gitvideo {
    width: 50%;
    height: 50%;
}

img {
    align-items: center;
    border-radius: 9px;
    height: 600px;
    width: 500px;
}

h1 {
    color: coral;
}

p { 
    font-family: Verdana;
    font-size: 20px;
}
body {
    background-color: lightsteelblue;
}

